.container{
  position: absolute!important;
  top: 5%;
  left: 35%;
  min-width: 30%;
  min-height: 30%;
  text-align: center;
  background-color: white;
  border: 2px solid black;
  box-sizing: content-box;
  box-shadow: 5px 5px 30px 5px #673AB7;
  transition: all 0.3s ease 0s;
  display: inline-block;
  z-index: 2;
      
  }
  