<div class="container">
    <div class="userlist">
      <h4>Reviewer Projects</h4>
      <mat-selection-list *ngIf="!emptypost" [multiple]="false">
        <mat-list-option
          class="list-group-item"
          *ngFor="let post of posts; let i = index"
          [class.active]="i == currentindex"
          [value]="post.Title"
          (click)="setActive(post, i)"
        >
          
        {{ post.Title }}
        </mat-list-option>
      </mat-selection-list>
      <div *ngIf="emptypost" >
        <p>Isnt assigned to project</p>
      </div>
    </div>
    <div>
      <div *ngIf="currentpost" >
        <app-projecteditdetails
        (refreshList)="refreshList()"
        [post]="currentpost"
        [viewonlyability]="false"
      ></app-projecteditdetails>
      </div>
      <div *ngIf="!currentpost">
        <br />
        <p>Please click on a Post...</p>
      </div>
    </div>
  </div>
  