<h1 style="text-align: center;">Rank Criteria of:{{title}}</h1>
<h4 style="text-align: center;">Importance weight:{{weight}}</h4>
<div fxLayout="row" fxLayoutAlign="space-evenly center" >
    <mat-chip-list *ngIf="numbers.length!=0">
    <mat-chip *ngFor='let number of numbers' color="Primary" (click)="setscore(number)" aria-label="Select a value and rank this criteria">
        {{number}}
    </mat-chip>
</mat-chip-list>
<p *ngIf="range">[{{range.min+','+range.max}}]</p>
<mat-form-field *ngIf="range"  appearance="outline">
    <mat-label>Choose value inside Range</mat-label>
    <input matInput  [(ngModel)]="rangeinput"> 
  </mat-form-field>
  <button mat-raised-button *ngIf="range" (click)="setscorerange(rangeinput)">Save</button>
  </div>
