.example-viewport {
    height: 920px;
   
}

.test {
    border: 2px solid #673AB7;
    width: 320px;
    margin-left: 20px;
}

.example-container {
    height:20%;
   
padding-bottom: 7px;
margin-bottom: 7px;
    border: 2px solid #673AB7;
}

.example-dt {
    height: 30px;
    font-weight: bold;
}

.example-dd {
    height: 35px;
}

.mat-dialog-content{
    height:780px;
    
}
* { 
    font-size: 1rem;
  }
