<div class="container">
<mat-card >
<div  fxLayout="column" fxLayoutAlign="center center">
<p *ngIf="post">Criteria of <b>{{post.Title}}</b></p>

<div class="cardcriteria" fxLayout="column" fxLayoutAlign="center center">
<app-projecteditdetails [post]="post" [viewonlyability]="this.viewonly">
                 
</app-projecteditdetails>

</div>
<button  mat-button (click)="candscores()">Candidate Scores</button>

</div>
<mat-tab-group *ngIf="cands && candbutton && nocands==false" mat-align-tabs="center">
  <mat-tab label="All cands">
    <div fxLayout="column" fxLayoutAlign="center center" >
    <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
      <mat-chip *ngFor="let cand of cands;index as i" selected color='primary'>
        {{cand.email}}        
        <button mat-icon-button disabled></button> 
        <button mat-icon-button disabled></button> 
        {{cand.score}}
      </mat-chip>  
    </mat-chip-list>
    </div>
  </mat-tab>
  <mat-tab  label="Passed">
    <div fxLayout="column" fxLayoutAlign="center center" >
      <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
        <mat-chip *ngFor="let cand of pcands;index as i" selected color='primary'>
          {{cand.email}}        
          <button mat-icon-button disabled></button> 
          <button mat-icon-button disabled></button> 
          {{cand.score}}
        </mat-chip>  
      </mat-chip-list>
      </div>
  </mat-tab>
  <mat-tab  label="Failed">
    <div fxLayout="column" fxLayoutAlign="center center" >
      <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
        <mat-chip *ngFor="let cand of fcands;index as i" selected color='primary'>
          {{cand.email}}        
          <button mat-icon-button disabled></button> 
          <button mat-icon-button disabled></button> 
          {{cand.score}}
        </mat-chip>  
      </mat-chip-list>
      </div>
  </mat-tab>
  <mat-tab  label="Missed">
    <div fxLayout="column" fxLayoutAlign="center center" >
      <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
        <mat-chip *ngFor="let cand of mcands;index as i" selected color='primary'>
          {{cand.email}}        
          <button mat-icon-button disabled></button> 
          <button mat-icon-button disabled></button> 
          {{cand.score}}
        </mat-chip>  
      </mat-chip-list>
      </div>
  </mat-tab>
</mat-tab-group>
</mat-card>
<div *ngIf="nocands">
<p>Project contains no Candidates Scores</p>
</div>
</div>