<div class="container" >
  
    <div class="userlist">
      <h2>Users List</h2>
      <mat-form-field appearance="fill" class="select">
        <mat-label>Select a User</mat-label>
        <mat-select >
          <mat-option class="list-group-item"
            *ngFor="let user of users; let i = index"
            [class.active]="i == currentindex"
            [value]="user.email"
            (click)="setActive(user, i)"
          >
            
          {{ user.email }}
        </mat-option>
         
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <div *ngIf="currentuser">
        <app-userdetails
        (refreshList)="refreshList()"
        [user]="currentuser"
      ></app-userdetails>
      </div>
      <div *ngIf="!currentuser">
        <br />
        <p>Please click on a User...</p>
      </div>
    </div>
  </div>
  