<div class="container">
  <div>
    <h2 mat-dialog-title style="text-align: center">Project Form</h2>
    <img src="assets/logo.png" style="width:22%; height:22%;" class="logo" />
    <button mat-button class="close-icon" [routerLink]="'/cards'">
      <mat-icon>close</mat-icon>
    </button>

    <form [formGroup]="registrationForm" (ngSubmit)="Post_Button()">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input formControlName="Title" matInput required />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Project Manager</mat-label>
        <input mat-button (click)="click_Project_Manager(true)" 
          formControlName="Project_Manager" [(ngModel)]="project_manager_search" matInput required  />
      </mat-form-field>
      <div style="margin-left: 10%">
        <div (click)="show_func()">
          <input type="file" #fileImportinput name="File Upload" id="csvFileUpload"
            (change)="fileChangeListener($event)" accept=".csv" />
          <img  style="width: 20px; height: 20px" (mouseover)="hoverImage = true"
            (mouseout)="hoverImage = false" />
          <div *ngIf="show_csv">
            <button mat-button type="button" (click)="show()">
              View CSV File Imports
            </button>
          </div>
        </div>
        <div>
          <img *ngIf="hoverImage" src="assets/csv_format.jpg" />
        </div>
      </div>
      
      <div fxLayout="row" fxLayoutAlign="center center" >
        <mat-form-field  appearance="outline">
          <mat-label>Ranker Search</mat-label>
          <input mat-button (click)="addr()"  matInput  />
        </mat-form-field>
        <mat-form-field color='accent'  appearance="outline">
          <mat-label>Candidate Search</mat-label>
          <input mat-button (click)="addc()"  matInput  />
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" >
      <div fxLayout="column" fxLayoutAlign="space-evenly start" >
        
        <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
          <mat-chip selected color='primary'  *ngFor="let ranker of rankers" (removed)="remover(ranker)">
            {{ranker.email}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
        </mat-chip-list>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-evenly start" >
          <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
            <mat-chip selected color='accent'  *ngFor="let cand of cands" (removed)="removec(cand)">
              {{cand.email}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>
      <div>
        <mat-form-field class="message1" appearance="outline">
          <mat-label>Description</mat-label>
          <textarea formControlName="Description" matInput></textarea>
        </mat-form-field>
       <p></p>
      </div>
      <mat-radio-group aria-label="Select an option" formControlName="status">
        <mat-radio-button  value="true"  [checked]="post!.Open">Open</mat-radio-button>&nbsp;
        <mat-radio-button  value="false" [checked]="!post!.Open">Closed</mat-radio-button>
      </mat-radio-group>
      <div class="signbtn">
        <button class="pbtn" type="submit"  class="animated-button1">Post</button>
        
      </div>
    </form>

    
  </div>
   <!--<ng-template #loading>
    <div class="spinner">
       <mat-spinner  mode="indeterminate" ></mat-spinner>
    </div>
  </ng-template>-->
  </div>