<h2>
    Imported CSV File</h2>
<div class="csv-result-table">
    <table>
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Name
                </th>
                <th>
                    SecondName
                </th>
                <th>
                    Email
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let csvData of csvRecords; let c=index; ">
                <td>{{c}}</td>
                <td>
                    {{csvData[1]}}
                </td>
                <td>
                    {{csvData[2]}}
                </td>
                <td>
                    <span>{{csvData[3]}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="closeDialog()">Close</button>
</div>