.container{
  position: absolute!important;
  top:10%;
  left:25%;
  text-align: center;
  min-height:30%;
  min-width:50%; 
    background-color: white;
    border: 2px solid black;
    box-sizing: content-box;
    box-shadow: 5px 5px 30px 5px #673AB7;
    transition: all 0.3s ease 0s;
    display: inline-block;
    z-index: 2;
}
input{
    width:200px;   
}
.edit-form{
  min-height:40%;
}
.tree-nodes{
  height: fixed;
  margin-left:80px;
  align-items: center;
  position:relative!important;
}
mat-tree-node{
  font-size: 30px;
}
.children-invisible {
    display: none;
  }
.desc-class{
      width:60%;
      height:20%;
      margin-top:20px;
  }
  .mat-form-field{
     width:70%;
     height:60%;
    margin-top: 2px;
    margin-bottom: -1.25em;
  }
  .weight-class{
    width:80%;
    font-size: large;
    text-align: center;
  }
  .weight-class2{
    width:80%;
    font-size: large;
    text-align: center;
  }
  .score-class{
    width:100%;
    font-size: large;
    text-align: center;
  }

  *{
    font-size: large;
  }
  .mat-tree-node :hover{
    background-color: #ffe082;
  }
  
  