 
<div *ngIf="currentpost" class="edit-form">
  <div *ngIf="!currentcand">
    <h2>Edit a project you are assigned to.</h2>
      <div fxLayout="column" fxLayoutAlign="center center" >
      
        <input
          type="text"
          class="form-control"
          id="image"
          [(ngModel)]="currentpost.image"
          name="image"
        />
        
        <mat-form-field appearance="outline">
          <mat-label>"Title"</mat-label>
          <input matInput value={{currentpost.Title}} placeholder="Placeholder" disabled>
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
        <mat-form-field class="desc-class" appearance="outline">
          <mat-label>"Description"</mat-label>
          <textarea matInput disabled>{{currentpost.Description}}</textarea>
        </mat-form-field>
      </div>
    </div>
    <input *ngIf="ability=='editor'" type="file" #fileImportinput name="File Upload" id="csvFileUpload"
    (change)="fileChangeListener($event)" accept=".json" /><p></p>
      <button mat-raised-button color="primary" *ngIf="ability=='editor'" (click)="openDialog()">Add to root</button>
   </div> 
   <div  class="tree-nodes">
      
        
        <mat-tree [dataSource]="treeSource" [treeControl]="treeControl" class="example-tree">
    
          
         
          <mat-tree-node  *matTreeNodeDef="let node" matTreeNodeToggle>
            <div fxLayout="row" fxLayoutAlign="end center" >
            <div class="mat-tree-node" renderDebug>
              <!-- use a disabled button to provide padding for tree leaf -->
              
              <button mat-icon-button disabled></button>
              <button mat-button (click)="openDialog2(node)" *ngIf="ability=='editor'" ><mat-icon style="color:blueviolet">edit</mat-icon></button>
              <mat-label size="5">
                {{node.title}}</mat-label>
                <button mat-button (click)="removenode(node)" *ngIf="ability=='editor'"  ><mat-icon style="color:blueviolet">remove</mat-icon></button>
              <button mat-icon-button disabled></button>
            </div>
            
            
              
             
              
              <button mat-icon-button disabled></button>
            
              <input style="width:40px;"  [value]="node.score" *ngIf="ability=='ranker' && node.score || (node.allvoted==true && node.subjective==true)">
              <button mat-button (click)="openDialog3(node)" *ngIf="ability=='ranker'"><mat-icon style="color:blueviolet"> rate_review</mat-icon></button>
              <p  *ngIf="!node.allvoted &&!viewonlyability && node.subjective && authservice.getrole()=='ranker'">Not all rankers have voted</p>
            <button *ngIf="ability!='ranker' && ability!='editor'" mat-icon-button disabled></button>
            <button *ngIf="ability!='ranker' && ability!='editor'" mat-icon-button disabled></button>
            
              <button mat-button (click)="openDialog(node,false)" *ngIf="ability=='editor'"  ><mat-icon style="color:blueviolet">add</mat-icon></button>
              
          </div>
            
          </mat-tree-node>
          
          <mat-nested-tree-node  *matTreeNodeDef="let node; when: hasChild">
            <li class="mat-tree-node" renderDebug>
              <div class="mat-tree-node">
                
                <button mat-icon-button matTreeNodeToggle
                        [attr.aria-label]="'toggle ' + node">
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                  </mat-icon>
                </button>
                <button mat-button (click)="openDialog2(node)" *ngIf="ability=='editor'" ><mat-icon style="color:blueviolet">edit</mat-icon></button>
                <mat-label size="5">
                  {{node.title}}</mat-label>
                  <button mat-button (click)="removenode(node)" *ngIf="ability=='editor'"  ><mat-icon style="color:blueviolet">remove</mat-icon></button>
                <div class="mat-tree-node" renderDebug>
                  <!-- use a disabled button to provide padding for tree leaf -->
                 
                  <button mat-icon-button disabled></button>
                  <input style=" border:1px solid #FFC107;width:40px;"  [value]="node.score" disabled *ngIf="ability=='ranker' && node.score || (node.allvoted==true && node.subjective==true) ">
                  <p  *ngIf="!node.allvoted &&!viewonlyability && node.subjective && authservice.getrole()=='ranker'">Not all rankers have voted</p>
                  </div>
                 
            
              
                <button mat-button (click)="openDialog(node,false)" *ngIf="ability=='editor'"  ><mat-icon style="color:blueviolet">add</mat-icon></button>
              
               </div>      
            </li>
            <ul [class.children-invisible]="!treeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
          </mat-nested-tree-node>
        </mat-tree>
    
   
   

  </div>
  <div fxLayout="row" fxLayoutAlign="center center" >
    <button mat-stroked-button *ngIf="ability=='ranker' && emptycriteria==false" (click)="missedinterview()">Candidate missed the interview</button>
    </div>
  <div *ngIf="!currentpost">
    <br/>
    <p>Cannot access this post...</p>
  </div>
  <div *ngIf="emptycriteria">
    <br/>
    <p>Post has no criteria yet...</p>
  </div>
  <div *ngIf="childrenweightwarn || parentweightwarn">
    <br/>
    <p>Nodes weight on same branch must summarize 1 or 100 to be saved</p>
  </div>
  
